@page "/error"
@using SerbleWebsite.Data
@inject NavigationManager NavigationManager
@inject Localiser Localiser

<PublicPage></PublicPage>

<div class="text-center" style="padding-top: 10px">
    <h3>@Localiser["oops"]</h3>
    <p>
        @Localiser["if-sent-then-error"] <a href="mailto:admin@serble.net">admin@serble.net</a>.
        <p>@Localiser["error"] @_errorMessage</p>
    </p>
</div>

@code {
    private string _errorMessage = new Localiser()["loading"];
    
    protected override Task OnInitializedAsync() {
        _errorMessage = NavigationManager.GetQueryStrings("msg") ?? Localiser["unknown-error"];
        return Task.CompletedTask;
    }
}