@page "/invalidoauth"
@using SerbleWebsite.Data
@inject Localiser Localiser
@inject NavigationManager NavigationManager

<PublicPage></PublicPage>

<div class="text-center" style="padding-top: 10px">
    <h3>@Localiser["invalid-oauth"]</h3>
    <p>
        @Localiser["invalid-oauth-message"]
    </p>
    <p>
        @_errorCode
    </p>
</div>

@code {
    private string _errorCode = new Localiser()["unknown-error"];
    
    protected override Task OnInitializedAsync() {
        _errorCode = NavigationManager.GetQueryStrings("error") ?? Localiser["unknown-error"];
        return Task.CompletedTask;
    }

}