@page "/ReCaptchaTest"
@using SerbleWebsite.Data
@inject Localiser Localiser

<ReCaptcha></ReCaptcha>

<h3>@Localiser["recaptcha-test"]</h3>

<form onsubmit="return false">
    <input type="text" id="example-input" placeholder="Example Text Input" class="form-floating form-control" style="background-color: rgb(34, 34, 34); color: #ffffff"/>
    <button onclick="onReCaptcha('test', 'OnSubmit')">@Localiser["submit-challenge"]</button>
</form>


@code {

    [JSInvokable("OnSubmit")]
    public static async void OnSubmit(string token) {
        Console.WriteLine("Received token: " + token);
        Console.WriteLine("Sending to API...");
        SerbleApiResponse<double> response = await SerbleApiHandler.CheckReCaptcha(token);
        if (!response.Success) {
            Console.WriteLine(response.ErrorMessage);
            return;
        }
        Console.WriteLine("Success!");
        Console.WriteLine("User Score: " + response.ResponseObject);
        // _submitted = true;
        // _responseText = response.ResponseObject!;
    }

}