@page "/SetApiUrl"
@using SerbleWebsite.Data
@using GeneralPurposeLib
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject Localiser Localiser

<h3>@Localiser["set-api-url"]</h3>
<p id="info">@Localiser["loading"]</p>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        HtmlInteractor interactor = new(JsRuntime);
        HtmlInteractor js = new(JsRuntime);
        string newUrl = NavigationManager.GetQueryStrings("url").DefaultIfNull(Constants.DefaultSerbleApiUrl);
        if (newUrl == "") {
            newUrl = Constants.DefaultSerbleApiUrl;
        }
        
        await js.SetLocalStorage("apiUrl", newUrl);
        await interactor.SetValue("info", $"Current Api Url: {newUrl}");
        Console.WriteLine("Set Api Url: " + newUrl);
    }

}