@page "/OAuthApps"
@using SerbleWebsite.Data.Schemas
@using SerbleWebsite.Data
@inject NavigationManager NavigationManager

<RequireLogin Callback="OnLoad"></RequireLogin>

<div class="text-center">
    <h3>Your OAuth Applications</h3>
    
    @if (_apps == null) {
        <p>Loading apps...</p>
    }
    else {
        @if (_apps.Length == 0) {
            <p>No Apps</p>
        }
        else {
            
            <div style="padding-left: 50px; padding-right: 50px;">
                @for (int i = 0, x = 0; i < _apps.Length / 2 + 1; i++) {
                    <div class="row align-items-md-stretch" style="padding-bottom: 20px">
                        @for (int y = 0; y < 2; y++) {
                            if (x > _apps.Length - 1) {
                                continue;
                            }
                            OAuthApp app = _apps[x];
                        
                            <div class="col-md-6">
                                <div class="h-100 p-5 bg-dark border rounded-3">
                                    <h2>@app.Name</h2>
                                    <p>@app.Description</p>
                                    <p>ID: @app.Id</p>
                                    <p>Client Secret: <button class="btn btn-link" onclick="navigator.clipboard.writeText('@app.ClientSecret'); console.log('Copied!');">Click to copy</button></p>
                                    <button class="btn btn-outline-danger" type="button" @onclick="_ => DeleteApp(app.Id)">Delete</button>
                                </div>
                            </div>
                            x++;
                        }
                    </div>
                }
            </div>
            
            
            
        }
        <button
            class="btn btn-lg btn-success"
            @onclick='() => NavigationManager.NavigateTo("/oauthapps/new")'>
            New App
        </button>
    }
</div>

<br/>

@code {
    
    private OAuthApp[]? _apps;
    private string _token = null!;

    private async Task OnLoad((User?, string) data) {
        _token = data.Item2;
        SerbleApiResponse<OAuthApp[]> response = await SerbleApiHandler.GetUsersApps(data.Item2);
        if (!response.Success) {
            Console.WriteLine("Error: " + response.ErrorMessage);
            return;
        }
        _apps = response.ResponseObject;
        ReloadText();
    }

    private void ReloadText() {
        InvokeAsync(StateHasChanged).Wait();
    }

    private async void DeleteApp(string id) {
        SerbleApiResponse<bool> response = await SerbleApiHandler.DeleteOAuthApp(_token, id);
        if (!response.Success) {
            await Console.Error.WriteLineAsync("Error: " + response.ErrorMessage);
            return;
        }
        
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }
    
}