@page "/OAuthApps"
@using SerbleWebsite.Data.Schemas
@using SerbleWebsite.Data
@inject NavigationManager NavigationManager

<RequireLogin Callback="OnLoad"></RequireLogin>

<div class="text-center">
    <h3>OAuthApps</h3>
    
    @if (_apps == null) {
        <p>Loading apps...</p>
    }
    else {
        @if (_apps.Length == 0) {
            <p>No Apps</p>
        }
        @foreach (OAuthApp app in _apps) {
            <p>
                <b>Name: @app.Name</b><br/>
                ID: @app.Id<br/>
                Description: @app.Description<br/>
                ClientSecret: @app.ClientSecret<br/>
            </p>
        }
        <button
            class="btn btn-lg btn-success"
            @onclick='() => NavigationManager.NavigateTo("/oauthapps/new")'>
            New App
        </button>
    }
</div>

<br/>

@code {
    
    private OAuthApp[]? _apps;

    private async Task OnLoad((User?, string) data) {
        User user = data.Item1!;
        SerbleApiResponse<OAuthApp[]> response = await SerbleApiHandler.GetUsersApps(data.Item2);
        if (!response.Success) {
            Console.WriteLine("Error: " + response.ErrorMessage);
            return;
        }
        _apps = response.ResponseObject;
        ReloadText();
    }

    private void ReloadText() {
        InvokeAsync(StateHasChanged).Wait();
    }
    
}