@page "/account/PaymentPortal"
@using SerbleWebsite.Data.Schemas
@using SerbleWebsite.Data
@inject NavigationManager NavigationManager
@inject Localiser Localiser

<RequireLogin Callback="LoginCallback"></RequireLogin>

<div>
    <h3>@Localiser["payment-portal"]</h3>
    @if (_notCustomer) {
        <p>@Localiser["payment-portal"].Replace("[", "<a href=\"/store\">").Replace("]", "</a>").MarkupString()</p>
    }
    else {
        <p>@Localiser["loading"]</p>
    }
</div>


@code {

    private bool _notCustomer;

    private async Task LoginCallback((User?, string) data) {
        SerbleApiResponse<string> urlResp = await SerbleApiHandler.GetPaymentPortalUrl(data.Item2);
        if (!urlResp.Success) {
            if (urlResp.ErrorFlag == "not-customer") {
                // User is not a customer
                _notCustomer = true;
                StateHasChanged();
                return;
            }
            // Error
            string msg = "An error occurred while loading the payment portal url: " + urlResp.ErrorMessage;
            msg = System.Net.WebUtility.UrlEncode(msg);
            NavigationManager.NavigateTo("/error?msg=" + msg);
            return;
        }
        
        // Redirect to payment portal
        NavigationManager.NavigateTo(urlResp!);
    }
    
}