@page "/register"
@using SerbleWebsite.Data
@using SerbleWebsite.Data.Schemas
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<PublicPage></PublicPage>
<ReCaptcha></ReCaptcha>
<LoginStyles></LoginStyles>

<div class="text-center form-signin">
    <div>
        <img class="mb-4" src="assets/images/icon.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Register</h1>

        <p style="color: red;">
            @switch (_error) {

                case Error.None:
                    break;

                case Error.NullFields:
                    <p>Username and password are required</p>
                    break;

                case Error.UserExists:
                    <p>User already exists, <a href="/login">trying to login?</a></p>
                    break;

                default:
                    throw new ArgumentOutOfRangeException();
            }
        </p>

        <div class="form-floating">
            <input
                type="text"
                class="form-control"
                id="username"
                placeholder="EpicGamer9000"
                style="background-color: rgb(34, 34, 34); color: #ffffff">
          <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                style="background-color: rgb(34, 34, 34); color: #ffffff">
          <label for="password">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" onclick="onReCaptcha('register', 'RegisterSubmit')" style="padding-bottom: 10px">Register</button>
        <p>Want to login? <a href="/login">Go here</a></p>
    </div>
</div>

@code {
    private Error _error = Error.None;

    protected override async void OnInitialized() {
        RegisterStaticHandler.Register = this;  // This is run locally so we only need to hold one instance of this class
        Cookie cookieService = new (JsRuntime);
        Console.WriteLine("Token: " + await cookieService.GetValue("token"));
    }

    [JSInvokable("RegisterSubmit")]
    public static async void OnSubmit(string recaptchaToken) {
        
        // Get values
        HtmlInteractor interactor = new (RegisterStaticHandler.Register!.JsRuntime);
        string username = await interactor.GetValue("username");
        string password = await interactor.GetValue("password");

        Console.WriteLine("Registering...");
        Console.WriteLine("ReCaptcha: " + recaptchaToken);
        if (username == null! || password == null!) {  // I don't think this can happen but just in case something in the future breaks it
            RegisterStaticHandler.Register._error = Error.NullFields;
            return;
        }

        // Register
        RegisterStaticHandler.Register!._error = Error.None;
        
        SerbleApiResponse<User> response = await SerbleApiHandler.RegisterUser(username, password, recaptchaToken);
        if (!response.Success) {
            RegisterStaticHandler.Register._error = Error.UserExists;
            Console.WriteLine("Register failed");
            Console.WriteLine(response.ErrorMessage);
            return;
        }
        RegisterStaticHandler.Register.NavigationManager.NavigateTo("/login");
    }

    enum Error {
        None,
        NullFields,
        UserExists
    }

}