@page "/emailconfirm/error"

<div class="text-center">
    <h3>An Error Has Occured</h3>
    
    <p>Your email was not successfully verified.</p>
    <form action="/login">
        <input class="btn btn-success" type="submit" value="Login"/>
    </form>
</div>

@code {
    
}