@page "/emailconfirm/error"
@using SerbleWebsite.Shared.Icons

<div class="text-center">
    <h3>An Error Has Occured</h3>
    <p>Your email could not be verified.</p>
    <RedCross Width="128" Height="128"></RedCross>
    <br/>
    <form action="/account">
        <input class="btn btn-success" type="submit" value="Account Page"/>
    </form>
    <br/>
</div>

@code {
    
}