@page "/emailconfirm/success"
@using SerbleWebsite.Shared.Icons

<div class="text-center">
    <h1>Success!</h1>
    
    <div class="flex-row">
        <p>You have successfully verified your email!</p>
        <GreenTick Height="128" Width="128"></GreenTick>
    </div>
    <br/>
    <form action="/account">
        <input class="btn btn-success" type="submit" value="Account Page"/>
    </form>
    <br/>
</div>

@code {
    
}