@page "/emailconfirm/success"

<div class="text-center">
    <h3>Success!</h3>
    
    <p>You have successfully verified your email!</p>
    <form action="/login">
        <input class="btn btn-success" type="submit" value="Login"/>
    </form>
</div>

@code {
    
}