@page "/emailconfirm/success"
@using SerbleWebsite.Shared.Icons
@using SerbleWebsite.Data
@inject Localiser Localiser

<div class="text-center">
    <h1>@Localiser["success"]</h1>
    
    <div class="flex-row">
        <p>@Localiser["email-verified"]</p>
        <GreenTick Height="128" Width="128"></GreenTick>
    </div>
    <br/>
    <form action="/account">
        <input class="btn btn-success" type="submit" value="@Localiser["account-page"]"/>
    </form>
    <br/>
</div>

@code {
    
}