@page "/Store/Purchase"
@using SerbleWebsite.Data.Schemas
@using SerbleWebsite.Data
@using System.Collections.Specialized

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<RequireLogin Callback="LoginCallback"></RequireLogin>
<LoadScript Script="https://js.stripe.com/v3/"></LoadScript>
<LoadScript Script="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></LoadScript>

<div class="text-center">
    <h3>Please wait while we get you logged in</h3>
    
    <p>Stuck? Click <a href="/store">here</a> to go back to the store.</p>
    
    <br/>
    <h5>Debug Info (Ignore this):</h5>
    <p>Lookup Key: @_lookupKey</p>
    <p>User ID: @_userId</p>
</div>

<form action="@(Constants.SerbleApiUrl + "payments/checkout?user_id=" + _userId)" method="POST" id="checkout-form">
    <!-- Price lookup key -->
    <input type="hidden" name="lookup_key" value="@_lookupKey"/>
    <button hidden id="checkout-and-portal-button" class="w-100 btn btn-lg btn-primary" type="submit">Subscribe</button>
</form>

@code {
    private string _userId = "";
    private string _lookupKey = "";

    private async Task LoginCallback((User?, string) data) {
        Console.WriteLine($"Logged in {data.Item1!.Username} for purchase");
        
        NameValueCollection queryValues = NavigationManager.GetQueryStrings();
        _lookupKey = queryValues["lookup_key"] ?? throw new Exception("No lookup key provided");

        _userId = data.Item1!.Id!;
        Console.WriteLine("User id: " + _userId);
        
        Console.WriteLine("Rerendering to have html contain userid and lookupkey");
        StateHasChanged();
        
        Console.WriteLine("Submitting form");
        HtmlInteractor html = new(JsRuntime);
        await html.SubmitForm("checkout-form");
    }
    
}