@page "/Store/Cancel"

<div class="text-center">
    <h1>Purchase Cancelled</h1>
    
    <p class="p-5">
        Purchasing a subscription will help support Serble and allow us to continue to provide you with the best service possible.
        This service costs money to run, and we need your help to keep it going, so we would greatly appreciate it if you would consider purchasing a subscription.
        
        <div class="p-3">
            <a class="btn btn-primary" href="/store">Store</a>
            <a class="btn btn-primary" href="/account">Account Page</a>
            <a class="btn btn-primary" href="/">Home Page</a>
        </div>
    </p>
</div>

@code {
    
}