@page "/Discord"
@using SerbleWebsite.Data
@inject NavigationManager NavigationManager
@inject Localiser Localiser

<h3>Discord</h3>
<p>@Localiser["browser-not-redirecting"].Replace("[", $"<a href=\"{Constants.DiscordInvite}\">").Replace("]", "</a>").MarkupString()</p>

@code {
    protected override Task OnInitializedAsync() {
        NavigationManager.NavigateTo(Constants.DiscordInvite);
        return Task.CompletedTask;
    }
}