@page "/Confetti"
@using SerbleWebsite.Data
@inject IJSRuntime JsRuntime
@inject Localiser Localiser

<h3>@Localiser["confetti"]</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!firstRender) {
            return;
        }
        await JsRuntime.InvokeVoidAsync("confetti", true, true);
    }
}