@page "/Confetti"
@inject IJSRuntime JsRuntime
<h3>Confetti</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!firstRender) {
            return;
        }
        await JsRuntime.InvokeVoidAsync("confetti", true, true);
    }
}