@page "/"
@namespace SerbleWebsite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<div id="components-reconnect-modal" class="text-center">
    <h4>The server seems to have disconnected, we will try to reconnect you... <a href="javascript: document.location.reload()">Reload</a></h4>
</div>

<component type="typeof(App)" render-mode="ServerPrerendered"/>