@using Microsoft.AspNetCore.Components.Web
@namespace SerbleWebsite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    
    @* Meta *@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The site for CoPokBl's Serble project">
    <meta name="author" content="CoPokBl">

    @* Imports *@
    <base href="~/"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/assets/images/fave_icon.png">
    <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/js/jquery-3.4.1.min.js" defer></script>    
    <script src="/assets/js/bootstrap-4.4.1.js" defer></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    @* <script src="/assets/js/global.js"></script> *@

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body style="background-color: #222222;color: #ffffff">

<main>
    <article>
        @RenderBody()
    </article>
</main>

<div id="blazor-error-ui" class="bg-dark" style="color: white">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        Oh No! An error has occurred. Please reload the page.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>