@page "/AccessDenied"
@using Microsoft.Extensions.Primitives
@using Microsoft.AspNetCore.WebUtilities
@using SerbleWebsite.Data
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PublicPage></PublicPage>

<div class="text-center">
    <h3>Access Denied</h3>
    <p>I'm afraid you don't have access to that page. You could try logging into a different account.</p>
    <button class="btn btn-outline-primary" @onclick="ReLogin">Login To A Different Account</button>
    <button class="btn btn-outline-secondary" @onclick='_ => NavigationManager.NavigateTo("/")'>Go Home</button>
    <div style="padding-bottom: 10px"></div>
</div>


@code {

    private async void ReLogin() {
        Cookie cookieManager = new(JsRuntime);
        await cookieManager.SetValue("token", "");
        
        Uri absoluteUri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        Dictionary<string, StringValues> queryValues = QueryHelpers.ParseQuery(absoluteUri.Query);

        string? page = queryValues.FirstOrDefault(stringVal => stringVal.Key == "page").Value.FirstOrDefault();
        string redirectUrl = "/login";
        if (page != null) {
            redirectUrl = QueryHelpers.AddQueryString(redirectUrl, "return_url", page);
        }
        NavigationManager.NavigateTo(redirectUrl);
    }
    
}