@page "/"

<PublicPage></PublicPage>
<PageTitle>Serble</PageTitle>

<div class="jumbotron jumbotron-fluid text-center" style="background-color: #333339;color: #ffffff">
   <h1 class="display-4">Serble</h1>
   <p class="lead" style="padding-left: 100px; padding-right: 100px">
       Welcome to Serble! Serble means Server CoPokBl (Ser Bl) and is pretty much any of my projects that involve a server.
       Not all the projects are publicly available, but you can find them all here. I would like to increase the number of
       projects that are available to the public, so if you have any suggestions for new projects,
       please contact me <a href="https://zaneharrison.com/contact">directly</a> or <a href="./discord">through discord</a>.
   </p>
   <br>
    <p class="lead" style="padding-left: 100px; padding-right: 100px">
        Looking for the Minecraft server website?
        Unfortunately I shut that down but if you want to see the site go <a href="https://old.serble.net">here</a>.
    </p>
   <hr class="my-4">
   <p class="lead">
      <a class="btn btn-primary btn-lg" href="./discord/" role="button" style="margin-right: 5px;">Serble Discord</a>
      <a class="btn btn-primary btn-lg" href="./status/" role="button" style="margin-left: 5px;">Server Statuses</a>
   </p>
</div>