@page "/invalidoauth"

<PublicPage></PublicPage>

<div class="text-center" style="padding-top: 10px">
    <h3>Invalid OAuth</h3>
    <p>
        The website that redirected you here didn't provide the required information for us to authenticate them.
        Or the client id they specified is invalid.
        You should report this to the website owner.
    </p>
</div>

@code {
    
}