@page "/Lockdown"
@inject NavigationManager NavigationManager
<PublicPage DoNotRedirect="true" CheckCallback="Callback"></PublicPage>

<div class="text-center">
    <h3>Site Lockdown</h3>
    <p>
        Unfortunately the website is in lockdown and you do not have access to the resource you were trying to access. 
        If you want more information you should <a href="https://discord.com/invite/fzvcNhW">join the Serble discord</a>. 
        There is nothing you can do to gain access to the site except wait. We are sorry for the inconvenience.
    </p>
</div>

@code {

    private bool Callback(bool isLockedDown) {
        if (!isLockedDown) {
            NavigationManager.NavigateTo("/");
        }
        return false;
    }

}
