@page "/OAuthApps/new"
@using SerbleWebsite.Data.Schemas
@inject NavigationManager NavigationManager

<RequireLogin Callback="OnLoad"></RequireLogin>
<LoginStyles></LoginStyles>

<div class="text-center form-signin">
    <div>
        @* <img class="mb-4" src="assets/images/icon.png" alt="" width="72" height="72"> *@
        <h1 class="h3 mb-3 fw-normal">New OAuth Application</h1>
        
        <p style="color: red;">
            @switch (_error) {
                
                case Error.None:
                    break;
                    
                case Error.NullFields:
                    <p>You must fill out all fields</p>
                    break;
                    
               case Error.Wait:
                    <p>Please try again in 5 seconds...</p>
                    break;

                default:
                    throw new ArgumentOutOfRangeException();
            }
        </p>
    
        <div class="form-floating">
            <input 
                @bind="_name"
                @oninput="ui => _name = ui.Value?.ToString()!"
                type="text" 
                class="form-control" 
                id="floatingInput" 
                placeholder="EpicGamer9000" 
                maxlength="255"
                style="background-color: rgb(34, 34, 34); color: #ffffff">
          <label for="floatingInput">Application Name</label>
        </div>
        <div class="form-floating" style="padding-top: 10px; padding-bottom: 10px">
            <textarea
                @bind="_description"
                @oninput="ui => _description = ui.Value?.ToString()!"
                class="form-control" 
                id="floatingPassword" 
                placeholder="Password" 
                maxlength="1024"
                style="background-color: rgb(34, 34, 34); color: #ffffff"></textarea>
            <label for="floatingPassword">Description</label>
        </div>
        
        <br/>

        <button class="w-100 btn btn-lg btn-primary" @onclick="Submit" style="padding-top: 10px">Register</button>
        <p>Want to login? <a href="/login">Go here</a></p>
    </div>
</div>


@code {

    private Error _error = Error.None;
    private string _name = "";
    private string _description = "";
    //private string _redirectUri = "";
    private List<string> _scopes = new ();
    private string? userId = null;

    private bool OnLoad(User user) {
        userId = user.Id;
        return true;
    }

    private void ReloadText() {
        InvokeAsync(StateHasChanged).Wait();
    }

    private void Submit() {
        if (userId == null) {
            _error = Error.Wait;
            return;
        }
        OAuthApp app = new (userId) {
            Name = _name,
            Description = _description,
        };
        Program.StorageService!.AddOAuthApp(app);
        _error = Error.None;
        NavigationManager.NavigateTo("/OAuthApps");
    }
    
    enum Error {
        None,
        NullFields,
        Wait
    }
    
}