@page "/noredirect"

<PublicPage></PublicPage>

<div class="text-center" style="padding-top: 10px">
    <h3>Authorization Success</h3>
    <p>The App you just authorized didn't provide a redirect URL so I don't know why they brought you here ¯\_(ツ)_/¯</p>
</div>

@code {
    
}