<div>
    <div class="text-center col-lg-6 offset-lg-3">
        <h4>Serble Site </h4>
        <p>Copyright CoPokBl &copy; 2020-2022 &middot; All Rights Reserved &middot; <a href="/">Serble&nbsp;</a></p>
    </div>
</div>

@code {
    
}