@using SerbleWebsite.Data
@inject Localiser Localiser

<div>
    <div class="text-center col-lg-6 offset-lg-3">
        <h4>@Localiser["serble-site"] </h4>
        <p>&copy; 2020-@DateTime.Today.Year &middot; CoPokBl &middot; <a href="/">@Localiser["serble"]</a></p>
        <SideLanguageChanger/>
    </div>
</div>
