@using SerbleWebsite.Data
@inject IJSRuntime JsRuntime

<select id="@Id" style="@Style" class="@Class" name="languages">
    <option>@Placeholder</option>
    <option id="eng" value="en">English</option>
    <option id="tok" value="tok">toki pona</option>
    <option id="tes" value="tes">Gibberish</option>
    <option id="deu" value="deu">German</option>
    <option id="spa" value="spa">Spanish</option>
    <option id="bin" value="bin">Binary</option>
    <option id="pol" value="pol">Polish</option>
    <option id="eng-PI" value="eng-PI">Pirate English</option>
    <option id="eng-AU" value="eng-AU">English (Australia)</option>
    <option id="eng-US" value="eng-US">English (US)</option>
    <option id="eng-EN" value="eng-AU">English (UK)</option>
    <option id="afr" value="afr">Afrikaans</option>
    <option id="lol" value="lol">LOLCat</option>
</select>

@code {
    
    [Parameter]
    public string? Id { get; set; }
    
    [Parameter]
    public string? Class { get; set; }
    
    [Parameter]
    public string? Style { get; set; }
    
    [Parameter]
    public string? Placeholder { get; set; }
    
    [Parameter]
    public string? DefaultValue { get; set; }

    protected override async void OnAfterRender(bool firstRender) {
        if (!firstRender) {
            return;
        }

        HtmlInteractor interactor = new(JsRuntime);
        await interactor.InvokeCode($"addAttribute('{DefaultValue}', 'selected', '')");
        await interactor.InvokeCode("console.log('Set default value')");
    }

}