@using SerbleWebsite.Data
@inject Localiser Localiser
@inject NavigationManager NavigationManager

<div class="dropdown">
    <button class="dropdown-toggle btn-link btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">@Localiser["language"]</button>
    <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="/language?lang=en&back=@NavigationManager.Uri">English</a></li>
        <li class="dropdown-item"><a href="/language?lang=tok&back=@NavigationManager.Uri">toki pona</a></li>
        <li class="dropdown-item"><a href="/language?lang=pol&back=@NavigationManager.Uri">Polish</a></li>
        <li class="dropdown-item"><a href="/language?lang=bin&back=@NavigationManager.Uri">Binary</a></li>
        <li class="dropdown-item"><a href="/language?lang=deu&back=@NavigationManager.Uri">German</a></li>
        <li class="dropdown-item"><a href="/language?lang=spa&back=@NavigationManager.Uri">Spanish</a></li>
        <li class="dropdown-item"><a href="/language?lang=eng-en&back=@NavigationManager.Uri">English (UK)</a></li>
        <li class="dropdown-item"><a href="/language?lang=eng-au&back=@NavigationManager.Uri">English (Australia)</a></li>
        <li class="dropdown-item"><a href="/language?lang=eng-us&back=@NavigationManager.Uri">English (US)</a></li>
        <li class="dropdown-item"><a href="/language?lang=afr&back=@NavigationManager.Uri">Afrikaans</a></li>
        <li class="dropdown-item"><a href="/language?lang=lol&back=@NavigationManager.Uri">LOL Cat</a></li>
    </ul>
</div>
